body.auth
  background #162726

  .container
    width 400px
    padding-top 20px

  h1
    color #2868c7
    font-size 16px
    text-align center
  
  form#login_form
    padding 0
    margin 0
    padding 10px
    margin-top 20px
    border 1px solid #2868c7

    input
      background #3a6865
      color #f1f1f1

    ul
      list-style-type none

   footer
      padding 10px 0px 0px 5px