@import '_vars'


section.brands-updateorcreate
	
	.cards-container
		margin 10px 0px 10px 0px 
		border 2px solid #e5e5e5
		
		h3
			padding 10px 20px

		h5
			margin 10px

		.card
			background #f5f5f5
			border 1px solid #e5e5e5
			width 270px
			margin 0px 5px 10px 5px
			float left
			padding 5px

			form
				width 260px
				margin 0 auto

			input, textarea
				margin 3px 0px
				width 260px

			textarea
				height 70px

			.card-actions
				padding 5px

		.card-collection-actions
			padding 10px
			clear both
			
			a
				padding 5px 10px

				&:hover
					background #e5e5e5
				i
					margin-top 2px
					margin-right 4px

	
