.page-header
  h1 Index of users

.row
  .span12
     p
        != linkTo('<i class="icon-plus icon-white"></i> New user', path_to.new_user, {class: 'btn btn-primary'})

- if (users.length) {
.row
  .span12
     table.table.table-striped
       thead
         tr
           th ID
           th.span3 Actions
       tbody
         for user in users
           tr
             td
               != linkTo(''+user.first_name+' '+user.last_name+'')
             td
               != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_user(user), {class: 'btn btn-mini'}) + ' '
               != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.user(user), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
- } else{
.row
  .span12
     p.alert.alert-block.alert-info
        strong No users were found.
- }
