- var sellingpoint = locals
input(value="#{sellingpoint._id}", name="_id", type='hidden')
input(value="#{sellingpoint.description}", name="description").selling-point-description
a(href='#').delete-card
  i.icon-minus