.gallery.hidden
  
  .header
    i.icon-remove.close-gallery

  .search-bar.hidden
    i.icon-search
    input.search-param

  h5.fallback no matches
  .loading
  ol.suggested-images#cards-container



.gallery-actions
  a(href='#').automate-product-images automagic
  a(href='#').search-product-images search
  //-a(href='#').upload-product-images upload
  
