

ul.variations-table
  li.headers
    h4.header type
    h4.header surcharge
    h4.header.sku SKU
    h4.header.sku-mod Mod
    h4.header EAN/UPC
    h4.header.quantity External Quantity
    h4.header.quantity Internal Quantity
  li.cards


h5.fallback please add variations


.card-collection-actions

  a(href='#').add-card
    i.icon-plus
    | Variation

  a(href='#', data-url='/variationstemplates', data-field='_variationsTemplate').apply-template
    i.icon-wrench
    | Templates

