h6 uploader
  a(href='#').close-uploader
    icon.icon-remove.icon-white

.menu
  a(href='#', data-url='/scopes').set-scope scope
    i.icon-chevron-down
  a(href='#').upload.pull-right upload

ul#cards-container
