.page-header
  h1 Images

  .nav-bar
    span.fileinput-button
      i.icon-white.icon-picture
      span Add Images
      input(type='file', name='images[]', multiple='multiple')#fileupload


.content
  .loading
  h2.fallback Please add images
  #cards-container